body{
	margin: 0;
}

#container{
	height: 100vh;
	background-color: #fff;
	width: 700px;
	margin:auto;
}

#content{
	height: 100vh;
	background-color: #fff;
}

#sectionOne{
	height: 18vh;
	background-color: #fff;
	padding-top: 10px;
}

#countrySearch{
	width: 480px;
	display: inline-block;
}

#countryLabel{
	display: block;
	font: 14px Verdana;
}

#country{
	margin-top: 5px;
	font: 13px Verdana;
	height: 25px;
	box-sizing: border-box;
	outline: none;
}

#getCountryData{
	border: none;
	background-color: #C6C6C6;
	color: #000;
	width: 65px;
	height: 25px;
	cursor: pointer;
	border-radius: 3px;
	box-sizing: border-box;
	font: 14px Verdana;
	outline:none;
}

#getCountryData:hover{
	opacity: 0.7;
}

#countryFlags{
	float: right;
	width: 210px;
}

#countryFlag{
	width: 200px;
	height: 100px;
	float: right;
}

#sectionTwo{
	height: 20vh;
	background-color: #fff;
	padding-top: 15px;
}

#countryDetails{
	width: 340px;
	display: inline-block;
}

#capital, #timezone, #currency, #language{
	margin:2px;
	font: 14px Verdana;
}

#bordersDetails{
	float: right;
	width: 340px;
	font: 14px Verdana;
}

#bordersLabel{
	display: inline-block;
}

#borders{
	margin: 0;
	padding-left: 20px;
	width: 130px;
	float: right;
}

#borders li{
  list-style: "- ";
}

#regionalDetails{
	height: 20vh;
	background-color: #fff;
}

#regionalLabel{
	font: 14px Verdana;
}

#regional{
	border-collapse: collapse;
	width: 700px;
}

#regionalAcronym{
	width: 200px;
}

#regionalName{
	width: 500px;
}

#regional, th, td{
	text-align: left;
	padding: 8px;
	font: 14px Verdana;
	border: 1px solid #ddd;
}

#regional thead{
	background-color: #C9C8C8;
}

#regional tr:nth-child(even) {
	background-color: #f2f2f2;
}

#map{
	height: 35vh;
	background-color: #fff;
	padding-top: 15px;
}

#mapLabel{
	font: 14px Verdana;
}

#googleMap{
	width: 700px;
	height: 180px;
}